<h1>Daylight App!</h1>

<div class='row'>
  <div class='col-md-1'></div>
  <div class='box4 col-md-2' id="day"></div>
</div>
<div class='row' style="height:25px"></div>
<div class='row'>
  <div class='col-md-1'></div>
  <div class='box3 col-md-3' onclick="daylight('yellow', this)">Morning</div>
  <div class='col-md-1'></div>
  <div class='box3 col-md-3' onclick="daylight('orange', this)">Afternoon</div>
  <div class='col-md-1'></div>
  <div class='box3 col-md-3' onclick="daylight('black', this)">Evening</div>
</div>