<h1>Click Three Boxes</h1>

<div id="three-box-game">
  <div class="row">
    <div class="col-md-1"> </div>
    <div class="box col-md-3 " onclick = "clickAll(1)"> </div>
    <div class="col-md-1"> </div>
    <div class="box col-md-3 " onclick = "clickAll(2)"> </div>
    <div class="col-md-1"> </div>
    <div class="box col-md-3 " onclick = "clickAll(3)"> </div>
  </div>
  
</div>
