<h1>Tic-Tac-Toe!</h1>

<div class='row'>
  <div class='col-md-1' style="width:5px"></div>
  <div class='boxtoe col-md-1' onclick = "mark(this, '1')" id = "1a"></div>
  <div class='col-md-1' style="width:5px"></div>
  <div class='boxtoe col-md-1' onclick = "mark(this, '2')" id = "1b"></div>
  <div class='col-md-1' style="width:5px"></div>
  <div class='boxtoe col-md-1' onclick = "mark(this, '3')" id = "1c"></div>
</div>
<div class = 'row' style="height:25px"></div>
<div class='row'>
  <div class='col-md-1' style="width:5px"></div>
  <div class='boxtoe col-md-1' onclick = "mark(this, '4')" id = "2a"></div>
  <div class='col-md-1' style="width:5px"></div>
  <div class='boxtoe col-md-1' onclick = "mark(this, '5')" id = "2b"></div>
  <div class='col-md-1' style="width:5px"></div>
  <div class='boxtoe col-md-1' onclick = "mark(this, '6')" id = "2c"></div>
</div>
<div class = 'row' style="height:25px"></div>
<div class='row'>
  <div class='col-md-1' style="width:5px"></div>
  <div class='boxtoe col-md-1' onclick = "mark(this, '7')" id = "3a"></div>
  <div class='col-md-1' style="width:5px"></div>
  <div class='boxtoe col-md-1' onclick = "mark(this, '8')" id = "3b"></div>
  <div class='col-md-1' style="width:5px"></div>
  <div class='boxtoe col-md-1' onclick = "mark(this, '9')" id = "3c"></div>
</div>

<h2 class="winner?()"></h2>